body {
  font-family: sans-serif;
}

.intro {
  text-align: center;
  font-family: serif;
  font-style: italic;
  color: brown;
  font-size: larger;
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 50%;
}